{% extends 'frontend/base.html' %}
{% load static %}



{% block contents %}
	

			<div role="main" class="main shop py-4">

				<div class="container py-4">

					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
							<h2 class="font-weight-bold text-5 mb-0">Login</h2>
							<form method="POST" action="">
								{% csrf_token %}
								<div class="row">
									<div class="form-group col">
										<label class="form-label text-color-dark text-3">Username <span class="text-color-danger">*</span></label>
										<input type="text" name="username" class="form-control form-control-lg text-4" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label text-color-dark text-3">Password <span class="text-color-danger">*</span></label>
										<input type="password" name="password" class="form-control form-control-lg text-4" required>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="form-group col-md-auto">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="rememberme">
											<label class="form-label custom-control-label cur-pointer text-2" for="rememberme">Remember Me</label>
										</div>
									</div>
									<div class="form-group col-md-auto">
										<a class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2" href="#">Forgot Password?</a>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3">Login</button>
										
									</div>
								</div>
							</form>
						</div>
						<div class="alert">
							{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor%}
						</div>
					</div>

				</div>

			</div>

		
		</div>

{% endblock contents %}

