{% load static %}

<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>QAM SEO Site | Grow your business through SEO</title>	

		<meta name="keywords" content="webapp SEM SEO Rank-your-site " />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="QAM">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'agency/vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/animate/animate.compat.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'agency/vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'agency/css/theme.css' %}">
		<link rel="stylesheet" href="{% static 'agency/css/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'agency/css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'agency/css/theme-shop.css' %}">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="{% static 'agency/css/demos/demo-seo-2.css' %}">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="{% static 'agency/css/skins/skin-seo-2.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'agency/css/custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'agency/vendor/modernizr/modernizr.min.js' %}"></script>

	</head>
	<body>



        {% block contents %}
        {% endblock contents %}








        <footer id="footer" class="bg-color-quaternary position-relative mt-0">
            <svg class="custom-section-curved-top-7" width="100%" height="400" xmlns="http://www.w3.org/2000/svg">
                <path id="svg_2" fill="#171940" stroke="#000" stroke-width="0" d="m-16.68437,95.44889c0,0 5.33335,176.00075 660.00283,93.33373c327.33474,-41.33351 503.33549,15.3334 639.00274,35.66682c135.66725,20.33342 59.66691,9.66671 358.33487,28.33346c298.66795,18.66676 268.66829,-45.00088 382.66831,-112.00048c114.00002,-66.9996 718.31698,-59.48704 1221.66946,95.563c503.35248,155.05004 -221.83202,184.10564 -243.66935,197.60521c-21.83733,13.49958 -3008.67549,-19.83371 -3008.00467,-20.83335c-0.67082,0.99964 -30.00428,-232.33469 -10.00419,-317.66839z" class="svg-fill-color-quaternary"/>
            </svg>
            <div class="container position-relative mt-0 mb-4">
                <div class="row py-5">
                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">ABOUT US</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut...</p>
                        <a href="demo-seo-2.html">
                            <img src="img/demos/seo-2/logo-footer.png" class="img-fluid" alt="Demo SEO 2" />
                        </a>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0">
                        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">USEFUL LINKS</h4>
                        <ul class="list list-unstyled">
                            <li class="mb-1">
                                <a href="#">Features</a>
                            </li>
                            <li class="mb-1">
                                <a href="#">Pages</a>
                            </li>
                            <li class="mb-1">
                                <a href="#">Portfolio</a>
                            </li>
                            <li class="mb-1">
                                <a href="#">About Us</a>
                            </li>
                            <li class="mb-1">
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0">
                        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">OUR SERVICES</h4>
                        <ul class="list list-unstyled">
                            <li class="mb-1">
                                <a href="demo-seo-2-services-detail.html">Seo Services</a>
                            </li>
                            <li class="mb-1">
                                <a href="demo-seo-2-services-detail.html">Email Marketing</a>
                            </li>
                            <li class="mb-1">
                                <a href="demo-seo-2-services-detail.html">Data Analysis</a>
                            </li>
                            <li class="mb-1">
                                <a href="demo-seo-2-services-detail.html">Digital Marketing</a>
                            </li>
                            <li class="mb-1">
                                <a href="demo-seo-2-services-detail.html">Social Media Marketing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">CONTACT US</h4>
                        <ul class="list list-unstyled">
                            <li class="mb-1">
                                Address: 123 Street Name, City, England
                            </li>
                            <li class="mb-1">
                                Phone: <a href="tel:+1234567890">(123) 456-7890</a>
                            </li>
                            <li class="mb-1">
                                Email: <a href="#">mail@example.com</a>
                            </li>
                        </ul>
                        <ul class="social-icons custom-social-icons-style-1">
                            <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright bg-color-quaternary">
                <div class="container py-2">
                    <hr class="bg-color-light opacity-1 mb-0">
                    <div class="row justify-content-center py-4">
                        <div class="col-auto">
                            <p class="text-color-light opacity-5 text-3">Porto SEO © Copyright 2022. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- Vendor -->
    <script src="{% static 'agency/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'agency/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'agency/vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
    <script src="{% static 'agency/vendor/lazysizes/lazysizes.min.js' %}"></script>
    <script src="{% static 'agency/vendor/isotope/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'agency/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'agency/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'agency/vendor/vide/jquery.vide.min.js' %}"></script>
    <script src="{% static 'agency/vendor/vivus/vivus.min.js' %}"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{% static 'agency/js/theme.js' %}"></script>

    <!-- Demo -->
    <script src="{% static 'agency/js/demos/demo-seo-2.js' %}"></script>

    <!-- Theme Custom -->
    <script src="{% static 'agency/js/custom.js' %}"></script>

    <!-- Theme Initialization Files -->
    <script src="{% static 'agency/js/theme.init.js' %}"></script>

</body>
</html>
